<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Gerber fabrication layer</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.ptudor.tudorpcb.gerber</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Excellon drill file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.ptudor.tudorpcb.excellon</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZIP fabrication package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>net.ptudor.tudorpcb.gerber</string>
			<key>UTTypeDescription</key>
			<string>Gerber fabrication layer</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gbr</string>
					<string>ger</string>
					<string>gerber</string>
					<string>gtl</string>
					<string>gbl</string>
					<string>gto</string>
					<string>gbo</string>
					<string>gts</string>
					<string>gbs</string>
					<string>gtp</string>
					<string>gbp</string>
					<string>gko</string>
					<string>gm1</string>
					<string>gml</string>
					<string>oln</string>
					<string>g1</string>
					<string>g2</string>
					<string>g3</string>
					<string>g4</string>
					<string>g5</string>
					<string>g6</string>
					<string>g7</string>
					<string>g8</string>
					<string>g9</string>
					<string>g10</string>
					<string>g11</string>
					<string>g12</string>
					<string>g13</string>
					<string>g14</string>
					<string>g15</string>
					<string>g16</string>
					<string>g17</string>
					<string>g18</string>
					<string>g19</string>
					<string>g20</string>
					<string>g21</string>
					<string>g22</string>
					<string>g23</string>
					<string>g24</string>
					<string>g25</string>
					<string>g26</string>
					<string>g27</string>
					<string>g28</string>
					<string>g29</string>
					<string>g30</string>
					<string>g31</string>
					<string>g32</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>net.ptudor.tudorpcb.excellon</string>
			<key>UTTypeDescription</key>
			<string>Excellon drill file</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>drl</string>
					<string>xln</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
